@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Room Reservation</h1>
        <p class="lead">Welcome to Conference Room Reservation Site.</p>
    </div>
}
else
{
    @Html.Partial("~/Views/Account/Login.cshtml")
}