@using Microsoft.AspNet.Identity
@model IEnumerable<RoomReservation.Domain.Entities.Room>

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
        <div class="jumbotron">
            <h1>Room Reservation</h1>
            <p class="lead">Welcome to Conference Room Reservation Site. Please pick a room.</p>
        </div>

    foreach (var room in Model)
    {
        <div class="metro">
            <div class="tile quadro block notice marker-on-right bg-grayLighter  text-center" onclick="location.href='@Url.Action("Scheduler", "Home", new { id = room.ID })'">
                    <p class="subheader-secondary fg-black">@room.Title</p>
            </div>
        </div>
    }

}
else
{
    @Html.Partial("~/Views/Account/Login.cshtml", new RoomReservation.Models.LoginViewModel())
}