@using Microsoft.AspNet.Identity
@model IEnumerable<RoomReservation.Domain.Entities.Room>

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Room Reservation</h1>
        <p class="lead">Welcome to Conference Room Reservation Site. Please pick a room.</p>
    </div>

    <ul class="nav nav-pills nav-stacked">
        @foreach (var room in Model)
        {
            <li><button class="btn-default btn-lg" onclick="location.href='@Url.Action("Scheduler", "Home", room.ID)'">@room.Title</button></li>         
        }
    </ul>
}
else
{
    @Html.Partial("~/Views/Account/Login.cshtml", new RoomReservation.Models.LoginViewModel())
}