@{
    ViewBag.Title = "Scheduler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scheduler</h2>

@if (Request.IsAuthenticated)
{

}
else
{
    @Html.Partial("~/Views/Account/Login.cshtml", new RoomReservation.Models.LoginViewModel())
}